arandr==0.1.11
attrs==22.2.0
Babel==2.12.1
breezy==3.3.3
Brlapi==0.8.5
btrfsutil==6.5
cffi==1.15.1
chardet==5.2.0
cloud-init==23.3
configobj==5.0.8
cryptography==41.0.3
docopt==0.6.2
dulwich==0.21.6
fastbencode==0.2
idna==3.4
Jinja2==3.1.2
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
louis==3.26.0
lxml==4.9.2
Mako==1.2.4
Markdown==3.4.4
MarkupSafe==2.1.3
mercurial==6.5.1
merge3==0.0.13
netifaces==0.11.0
nftables==0.1
oauthlib==3.2.2
packaging==23.1
patiencediff==0.2.13
pdfarranger==1.10.0
pikepdf==8.4.0
Pillow==10.0.0
pipreqs==0.4.13
ply==3.11
psutil==5.9.5
ptyprocess==0.7.0
pulsemixer==1.5.1
pycairo==1.24.0
pycparser==2.21
PyGObject==3.44.1
pyrsistent==0.19.3
pyserial==3.5
python-dateutil==2.8.2
pytz==2023.3
pywal==3.3.0
PyYAML==6.0.1
ranger-fm==1.9.3
referencing==0.30.2
Reflector==2023.6.28.0.36.1
requests==2.28.2
rpds-py==0.9.2
six==1.16.0
TBB==0.2
terminado==0.17.1
tornado==6.2
trash-cli==0.23.2.13.2
typing_extensions==4.7.1
ueberzug==18.2.1
urllib3==1.26.15
validate==5.0.8
yarg==0.1.9